.image-filter__root {
  align-items: center;
}

.image-filter__content {
  width: 100%;
  border: 1px solid var(--gray-50);
}


.filter__options-container {
  justify-content: center;
  overflow: auto;
  max-width: 100%;
  margin-top:16px;
}

.filter__options > * {
  margin-left: 16px;
}

.filter__options > *:first-child {
  margin-left: 0;
}

.filter__label {
  margin-bottom: 4px;
}

.filter__thumbnail {
  width: 64px;
  height: 64px;
}
