.file-chooser__container {
  border: 2px dashed var(--gray-50);
  border-radius: var(--border-radius);
  background-color: var(--gray-200);
  flex-grow: 1;
  transition: background-color 150ms ease;
}

.file-chooser__container__dragover {
  background-color: #ef00ff2e;
}

.file-chooser__label {
  position: relative;
  overflow: hidden;
  font-size: 3rem;
}
